---
import BaseHead from './micro_components/BaseHead.astro'
import Footer from "../components/footer/Footer.astro"

interface Props {
	author? : string
	title?: string
	lang? : string
	description? : string
	heroImage? : string
	tags? : string[]
	pubDate? : Date 
	updatedDate? : Date 
	genre? : string
}

const { title, lang, description, heroImage, pubDate, updatedDate, author, tags, genre } = Astro.props;

const pageTitle = title ? title : "Pixel Poetry a place to discuss great pieces of digital art"

const language = lang ? lang : "en"

let Pagedescription : string

if (description){
	Pagedescription = description
}

else if (language === "fr"){
	Pagedescription = "Pixel Poetry est un sanctuaire ou on parle des oeuvres digitales qui nous ont profondement marqués"
}
else {
	Pagedescription =`Pixel Poetrey is a sanctuary where we talk about pieces of media art that have deeply impacted us.`
}
---

<!doctype html>
<html lang={language}>
	<head>
		<BaseHead title={pageTitle} description={Pagedescription} image={heroImage}
		pubDate={pubDate} updatedDate={updatedDate} author={author} tags={tags} genre={genre}
		/>
	</head>
	<body>
		<slot />

		<Footer lang={language as "en" | "fr"} />
	</body>
</html>


