---
import type { CollectionEntry } from 'astro:content';
import Layout from '../Layout.astro';
import Footer from '../../components/footer/Footer.astro';
import Navbar from '../../components/navbar/navbar.astro';
import ShareOnSocialMedia from '../../components/blog_template/share_blog/share_blog';

import { getTextDateWBy } from "../../components/blog_template/utils"
import BlogImage from "../../components/blog_template/micro_components/blog_img";

import "./blog_post.scss"

type Props = CollectionEntry<'blog'>['data'];


const { title, description, author, pubDate, updatedDate, image, tags, lang, genre} = Astro.props;

const url = Astro.url.pathname
const heroImage = image ? image : "/placeholder.png"
const articleAuthor = author ? author : "Le Fantôme"
const language = lang === "fr" ? "fr" : "en"
const latestDate = updatedDate ? updatedDate : pubDate




const date = getTextDateWBy(new Date(latestDate), language, updatedDate ? true : false  ) + articleAuthor

---

<Layout 
lang={language} description={description} title={title} author={author}
pubDate={pubDate} updatedDate={updatedDate} tags={tags} heroImage={image}
genre={genre}
>
	<Navbar lang={language} />

	<header>
		<a href={language === 'en' ? "/" : `/${language}/`}>{language === "fr" ? "Accueil" : "Home"}</a>

		<h1>{title}</h1>
		<p>{description}</p>
		<span>{date}</span>
		<BlogImage src={heroImage} alt='intro image' caption="  " eager={true} />

		<div />
	</header>

	<main>
		<article>
			<slot />
		</article>

		
		<hr>
		<div class="author">
			<p>{articleAuthor}</p>

		</div>

		<ShareOnSocialMedia prefix="Share : " title={title} url={url} client:load/>
	
	</main>
    
	<Footer lang={language} />

</Layout>
